/* CSS styling for the textarea where user can write a tweet */
.new-tweet{
  width: 90%;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}

label {
  font-weight: bold;
}

textarea{
  border: 0;
  outline: 0;
  background-color: #f4f1ec;
  border-bottom: 3px solid black ;
}

form {
  display: flex;
  flex-direction: column;
}


/* CSS styling for the submit button */
button {
  background-color: #4056A1;
  color: #FFFF; 
  font-family: 'Bungee', sans-serif;
  
}

/* Styling to ensure the submit button and counter are aligned and the same font*/
.align{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif; 
  margin-top: 5px;
  margin-bottom: 70px
}

/*color change when character count is less than 0*/
.negative {
  color:red
}